@charset "utf-8";/* CSS Document */
.width1036{width:1036px;margin-left:auto;margin-right:auto;}
.padleft_20{padding-left:20px;}
.padleft_30{padding-left:34px;}
.bg_g_g{background:-webkit-gradient(linear,left center,right center,from(#6eb88c),to(#8b8c8f));background:-moz-linear-gradient( left,#6eb88c,#8b8c8f);background:-o-linear-gradient(left,#6eb88c,#8b8c8f);background:-ms-linear-gradient(left,#6eb88c,#8b8c8f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6eb88c,endColorstr=#8b8c8f,grandientType=1);}
.payment_nav{height:34px;padding:30px;}
.payment_nav li{float:left;height:34px;line-height:34px;}
.payment_nav i{display:block;float:left;}
.payment_nav span{float:left;display:block;height:34px;padding-left:6px;padding-right:6px;}
.payment_step{width:30px;height:30px;line-height:30px;text-align:center;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.payment_line{width:436px;height:2px;line-height:2px;margin-top:16px;}
.payment_content{padding:25px;}
.payment_title{position:relative;height:35px;line-height:35px;border:1px solid #e1e1e1;background:#f7f7f7;}
.payment_title span{display:block;float:left;padding-left:10px;}
.payment_title a{display:block;float:right;width:15px;height:15px;line-height:15px;margin-right:12px;margin-top:10px;}
.payment_title i{display:inline-block;width:15px;}
.payment_title:hover .plus_icon{background-position:-68px -177px;}
.plus_icon{height:15px;background-position:-93px -177px;}
.payment_title:hover .minus_icon{background-position:-21px -177px;}
.minus_icon{height:3px;margin-bottom:4px;background-position:-43px -177px;}
.wth_470{float:left;width:470px;padding-left:15px;}
.wth_120{float:left;width:120px;padding-left:15px;}
.wth_50{float:left;width:50px;padding-left:15px;}
.wth_80{float:left;width:80px;}
.payment_list{position:relative;padding-top:30px;padding-bottom:30px;border-bottom:1px dashed #e1e1e1;}
.payment_img{float:left;width:156px;height:88px;padding-right:30px;}
.payment_img img{width:156px;height:88px;}
.payment_word{float:left;width:280px;padding-top:8px;}
.payment_word p{height:24px;line-height:24px;overflow:hidden;}
.classname{display:block;width:100%;height:24px;line-height:24px;overflow:hidden;}
.payment_bot{height:48px;line-height:48px;padding:25px 28px 25px 25px;margin-top:30px;border-top:1px solid #e1e1e1;background:#f7f7f7;}
.payment_bot span{display:block;}
.submit_btn{display:block;height:44px;line-height:44px;margin-right:25px;margin-left:20px;padding-left:26px;padding-right:26px;font-size:18px;color:#ffffff;cursor:pointer;}
.recommend_title{padding:20px 20px 10px 20px;}
.package_list{float:left;width:684px;border:1px solid #e1e1e1;margin-left:20px;}
.package_title{width:100%;height:32px;border-bottom:1px solid #e1e1e1;background:#f7f7f7;}
.package_title li{float:left;height:32px;line-height:32px;padding-left:30px;padding-right:30px;border-right:1px solid #e1e1e1;cursor:pointer;}
.package_title li.package_select{margin-top:-1px;line-height:30px;background:#ffffff;border-top:2px solid #6eb88c;}
.package_content{padding:20px;}
.package_img{float:left;position:relative;width:560px;height:88px;overflow:hidden;}
.package_img li{margin-bottom:10px;}
.package_img li:nth-child(6n){display:none;}
.taocan{position:relative;height:10000px;}
.package_img li,.instalment_content li{float:left;position:relative;}
.package_img li p,.instalment_content li p{position:absolute;bottom:0px;left:0px;width:100%;height:26px;line-height:26px;color:#ffffff;text-align:right;background:rgba(0,0,0,0.45);}
.package_img li p span,.instalment_content li p span{padding-right:5px;}
.package_img li.piclt,.instalment_content li.piclt{width:156px;height:88px;}
.addicon{float:left;display:block;width:46px;line-height:88px;text-align:center;}
.addicon i{display:inline-block;width:16px;height:16px;background-position:-273px -57px;}
.package_img li img{width:156px;height:88px;}
.coursechange{float:right;width:34px;}
.coursechange a{display:block;width:32px;height:32px;line-height:32px;border:1px solid #e1e1e1;text-align:center;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.coursechange a:hover{border:1px solid #3e4146;background:#3e4146;}
.coursechange a i{display:inline-block;width:16px;height:8px;}
.an_up{background-position:-192px -69px;margin-bottom:3px;}
.an_down{background-position:-192px -57px;}
.an_upon{background-position:-171px -69px;margin-bottom:3px;}
.an_downon{background-position:-171px -57px;}
.coursechange a:hover .an_up,.coursechange a:hover .an_upon{background-position:-213px -69px;}
.coursechange a:hover .an_down,.coursechange a:hover .an_downon{background-position:-213px -57px;}
.package_price{float:right;width:290px;height:160px;margin-right:20px;border:1px solid #e1e1e1;background:#f7f7f7;}
.package_pricenr{width:100%;padding-top:40px;}
.package_word{float:left;padding-left:26px;}
.package_word p{line-height:26px;}
.package_word span{display:inline-block;height:24px;line-height:24px;padding-left:5px;padding-right:10px;color:#ffffff;}
.package_word a{display:block;width:104px;height:30px;line-height:30px;text-align:center;color:#ffffff;}
.buy_now{margin-bottom:8px;margin-top:5px;}
a.huiup:hover{background:#ffffff;border:1px solid #e1e1e1;}
a.huiup:hover .an_up{background-position:-192px -69px;}
a.huidown:hover{background:#ffffff;border:1px solid #e1e1e1;}
a.huidown:hover .an_down{background-position:-192px -57px;}
.choose_way{line-height:38px;padding-left:20px;}
.choose_way i,.bank_list i{display:inline-block;width:20px;height:20px;margin-right:10px;vertical-align:middle;}
.checkway_on{background-position:-240px -139px;}
.checkway_off{background-position:-268px -139px;}
.choose_con{display:inline-block;width:100px;}
.bank_list{height:35px;padding:20px;}
.bank_list a{display:block;float:left;margin-top:7px;}
.bank_list img{display:block;float:left;}
.order_content{padding:0px 15px;border-bottom:1px solid #e1e1e1;}
.order_list{width:90%;float:left;}
.information{float:left;width:68%;min-height:48px;line-height:24px;}
.information:last-child{border-bottom:none;}
.order_price{padding:25px 38px 25px 25px;}
.order_pay{padding:25px 28px 25px 25px;background:#f7f7f7;}
.lineheight46{line-height:46px;}
.padbot_30{padding-bottom:30px;}
.success_btn{display:block;width:350px;height:44px;line-height:44px;margin:10px auto 20px;color:#ffffff;}
.payment_bank{width:96%;margin-left:auto;margin-right:auto;}
.banklist1{margin-top:10px;margin-bottom:15px;}
.banklist_con1{float:left;position:relative;width:220px;height:120px;padding:14px;margin-right:20px;margin-bottom:20px;background:#fff;border:1px solid #e1e1e1;}
.banklist_title1{width:100%;height:38px;}
.banklist_infor1{width:100%;line-height:20px;padding-top:15px;}
.banklist{margin-top:10px;margin-bottom:15px;padding-left:10px;padding-right:10px;padding-top:20px;background:#f7f7f7;border:1px solid #e1e1e1;}
.bank_icon{position:absolute;bottom:15px;right:14px;width:30px;height:18px;background:url(../../images/payment/pay_icon.png) no-repeat;}
.banklist_con{float:left;position:relative;width:205px;height:124px;margin-left:20px;margin-bottom:20px;background:#fff;}
.banklist_title{width:174px;height:36px;margin-left:auto;margin-right:auto;padding-top:8px;}
.banklist_infor{width:174px;line-height:20px;margin-left:auto;margin-right:auto;padding-top:6px;}
.consult{display:inline-block;width:58px;height:22px;line-height:20px;color:#8b8c8f;border:1px solid #e1e1e1;background:-webkit-gradient(linear,center top,center bottom,from(#ffffff),to(#f7f7f7));background:-moz-linear-gradient( top,#ffffff,#f7f7f7);background:-o-linear-gradient(top,#ffffff,#f7f7f7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#f7f7f7);}
.consult:hover{background:-webkit-gradient(linear,center top,center bottom,from(#f7f7f7),to(#ffffff));background:-moz-linear-gradient( top,#f7f7f7,#ffffff);background:-o-linear-gradient(top,#f7f7f7,#ffffff);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f7f7f7,endColorstr=#ffffff);}
.consult i{display:inline-block;width:15px;height:15px;margin-left:5px;margin-right:3px;background-position:-167px -348px;vertical-align:middle;}
.paymentpop_content{position:absolute;top:50%;left:50%;width:490px;height:340px;margin-left:-245px;margin-top:-170px;border-bottom:1px solid #e1e1e1;background:#fff;}
.paymentpop_title{height:25px;padding:15px 20px;border-bottom:1px solid #e1e1e1;background:#f7f7f7;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
.paymentpop_title span,.paymentpop_title a{display:block;}
.paymentpop_word{padding:30px 0;text-align:center;}
.margin_l82{margin-left:82px;}
.padtop_25{padding-top:25px;}
.padleft_60{padding-left:60px;}
.lineheight30{line-height:30px;}
.color_gray1{color:#e1e1e1;}
.ppdwth_90{width:90px;}
.ppdwth_130{width:130px;}
.ppdwth_120{width:120px;}
.ppdcontent{position:absolute;left:50%;top:53px;width:835px;margin-left:-417.5px;}
.ppd_title{position:relative;width:100%;height:56px;line-height:56px;background:#3e4146;text-align:center;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
.ppd_title span{font-size:24px;color:#ffffff;}
.ppd_close{display:block;position:absolute;right:25px;top:14px;width:28px;height:28px;}
.ppd_close i{display:block;width:28px;height:28px;background-position:-155px -177px;}
.ppd_close:hover i{background-position:-118px -177px;}
.ppd_content{padding:35px 65px 60px 65px;color:#3e4146;background:#ffffff;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
.ppdcontent_title{height:39px;border-bottom:1px solid #e1e1e1;}
.ppdcontent_title li{float:left;padding-left:15px;padding-right:15px;line-height:38px;cursor:pointer;}
.ppdcontent_title li.onid{background:#f7f7f7;border-bottom:2px solid #76b88a;}
.ppd_btn{display:block;width:210px;height:30px;line-height:28px;border:1px solid #e1e1e1;background:#f7f7f7;cursor:pointer;}
.ppd_btn:hover{background:#f1f1f1;}
.ppdtitle{height:28px;line-height:28px;margin-top:20px;background:#f7f7f7;}
.ppd_style li{float:left;width:20%;height:40px;line-height:40px;padding-left:20px;cursor:pointer;}
.ppd_style li i{display:inline-block;width:20px;height:20px;background-position:-268px -139px;vertical-align:middle;}
.ppd_style li.ppd_checkon i{background-position:-240px -139px;}
.ppd_style li span{display:inline-block;padding-left:12px;}
.ppd_box{width:160px;height:28px;line-height:28px;padding-left:10px;border:1px solid #e1e1e1;background:#fcfcfc;}
.ppd_box1{width:172px;height:30px;line-height:30px;border:1px solid #e1e1e1;background:#fcfcfc;}
.ppdcenter{text-align:center;}
.ppd_submit{display:inline-block;width:198px;height:33px;line-height:33px;text-align:center;color:#ffffff;background:#76b88a;border:1px solid #65a378;}
.ppd_submit:hover{background:#74c796;color:#ffffff;}
.reference_sample{display:none;width:100%;position:absolute;top:0;left:0;z-index:99;}
.success_bg{margin:0 25px 25px 25px;padding:66px 0 120px;text-align:center;border:1px solid #e1e1e1;background:#f7f7f7;}
.payment_pop{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:999;}
.cart_title{height:60px;line-height:60px;margin-bottom:30px;border-bottom:2px solid #e1e1e1;}
.cart_title i{display:block;float:left;width:21px;height:18px;margin-top:21px;background-position:-139px -214px;}
.cart_title span{display:block;float:left;font-size:24px;padding-left:12px;}
.cart_title a{display:block;float:right;color:#c5c6c9;}
.cart_word{height:24px;line-height:24px;padding-top:12px;}
.cart_word span{padding-right:25px;margin-right:25px;border-right:1px solid #e1e1e1;}
.cart_close{display:none;position:absolute;top:50%;right:12px;width:28px;height:28px;margin-top:-14px;}
.cart_close a{display:block;width:26px;height:26px;border:1px solid #e1e1e1;background:#ffffff;text-align:center;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.cart_close a:hover{border:1px solid #8b8c8f;background:#8b8c8f;}
.cart_close a i{display:inline-block;width:12px;height:12px;background-position:-153px -57px;vertical-align:middle;}
.cart_close a:hover i{background-position:-153px -70px;}
.payment_list:hover .cart_close{display:block;}
.order_title{width:100%;padding-top:25px;padding-bottom:25px;border-bottom:1px dashed #e1e1e1;}
.order_name{float:left;width:10%;}
.orderprice{float:right;width:17%;height:48px;line-height:48px;text-align:right;padding-right:38px;}
.orderline{clear:both;width:100%;height:20px;border-bottom:1px solid #e1e1e1;margin-bottom:20px;}
.phone_box{width:220px;height:28px;line-height:28px;padding-left:5px;}
.question{display:inline-block;width:14px;height:14px;margin-left:5px;background-position:-167px -327px;vertical-align:middle;}
.paipai_pop{position:fixed;top:0;width:100%;height:100%;overflow-y:auto;background:rgba(0,0,0,0.5);z-index:999;}
.WeChat{width:100%;height:486px;background:url(../../images/payment/WeChat.jpg) no-repeat center;}
.wechat_num{height:100px;line-height:100px;background:#fffddf;font-size:18px;}
.wechat_left{float:left;padding-left:35px;color:#feaf51;}
.wechat_right{float:right;padding-right:50px;}
.wechat_ewm{width:248px;height:248px;padding-left:190px;padding-top:79px;}
.wechat_ewm img{width:248px;height:248px;}
.choose_pay{width:100%;line-height:50px;}
.fail_bg{margin:0 25px 25px 25px;padding:66px 0 120px;min-height:300px;text-align:center;border-top:1px solid #292828;background:#fff2f4;}
.re_payment{display:inline-block;height:44px;line-height:44px;padding-left:30px;padding-right:30px;font-size:18px;color:#ffffff;cursor:pointer;}
#Example{position:relative;}
.Example{position:absolute;right:-30px;top:0;heigth:30px;line-height:30px;font-size:12px;}
.Sample{display:none;position:absolute;top:29px;rigth:0;width:553px;height:120px;background:#fff;border:1px solid #ddd;}
.w1240{max-width:1240px;margin:0 auto;background:#fff}
.shop-header{height:100px;border-bottom:2px solid #292828;background:#fff;}
.shop-header .wrap{margin:0 auto;max-width:1240px;height:100px;line-height:100px;}
.shop-header .wrap .header-title h2{font-size:28px;font-weight:normal;color:#424242;}