<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kim.dao.look.ILookMapper" >
	
	<!-- 查询所有Look -->
	<select id="findLooks" resultType="Look" parameterType="Params">
		select 
			look_id as lookId,
			user_id as userId,
			article_id as articleId,
			is_delete as isDelete,
			create_time as createTime,
			update_time as updateTime
		FROM
			look 
		<trim prefix="WHERE" prefixOverrides="AND | OR">  
			<if test="@com.kim.util.StringUtils@isNotEmpty(keyword)">
				and name LIKE '%${keyword}%'
			</if>
		</trim>
		ORDER BY ${order}
		LIMIT #{pageNo} ,#{pageSize};				
	</select>
	
	<!-- 根据id查询Look -->
	<select id="getLook" resultType="Look">
		SELECT 
		  	look_id as lookId,
			user_id as userId,
			article_id as articleId,
			is_delete as isDelete,
			create_time as createTime,
			update_time as updateTime
		FROM
		 	look
		<trim prefix="WHERE" prefixOverrides="AND | OR">  
			<if test="@com.kim.util.StringUtils@isNotEmpty(lookId)">
				and look_id = #{lookId}
			</if>
			<if test="@com.kim.util.StringUtils@isNotEmpty(articleId)">
				and article_id = #{articleId}
			</if>
			<if test="@com.kim.util.StringUtils@isNotEmpty(userId)">
				and user_id = #{userId}
			</if>
		</trim>
			
	</select>
	
	<!-- 查询Look的总记录数  -->
	<select id="countLook" resultType="int" parameterType="Params">
		SELECT
			count(1) 
		FROM
			look 
		<trim prefix="WHERE" prefixOverrides="AND | OR">  
			<if test="@com.kim.util.StringUtils@isNotEmpty(articleId)">
				and article_id = #{articleId}
			</if>
		</trim>
	</select>
	
	<!-- 添加Look -->
	<insert id="saveLook" parameterType="Look" useGeneratedKeys="true" keyProperty="id" flushCache="true" >
	  	INSERT INTO look(
			look_id,
			user_id,
			article_id,
			is_delete,
			update_time
	  	) VALUES (
		  	#{lookId},
		  	#{userId},
		  	#{articleId},
		  	#{isDelete},
		  	#{updateTime}
	  	)
	 </insert>
	
	<!-- 更新Look -->
	<update id="updateLook" parameterType="Look">
		update look
		<set>
			<if test="isDelete!=null">is_delete=#{isDelete},</if>
			<if test="userId!=null">user_id=#{userId},</if>
		</set>
		where look_id = #{lookId}
	</update>
	
	<!-- 删除Look -->
	<delete id="deleteLook" parameterType="Params">
		<!-- delete from look where look_id = #{lookId} 真删 -->
		update look set is_delete = 1 where look_id = #{lookId}
	</delete>
	
</mapper>
